fastai==2.7.16
fastapi==0.112.0
fastcore==1.5.55
fastdownload==0.0.7
fastprogress==1.0.3
pandas==2.2.2
pillow==10.4.0
pydantic==2.8.2
pydantic_core==2.20.1
python-multipart==0.0.9
starlette==0.37.2
torch==2.4.0
typing_extensions==4.12.2
uvicorn==0.30.5

